# -*- coding: utf-8 -*-
# vim: ft=jinja

{## start with defaults from defaults.yaml ##}
{% import_yaml "samba/defaults.yaml" as defaults %}

{% set os_map = salt['grains.filter_by']({
    'Debian': {
        'server_pkg': 'samba',
        'client_pkg': 'samba-client',
        'service': salt['grains.filter_by']({
	    'lenny': 'samba',
	    'squeeze': 'samba',
	    'wheezy': 'samba',
	    'jessie': 'smbd',
	    'default': 'smbd',
	}, grain='oscodename'),
        'config': '/etc/samba/smb.conf',
        'config_src': 'salt://samba/templates/smb.conf.jinja',
    },
    'RedHat': {
        'server_pkg': 'samba',
        'client_pkg': 'samba',
        'service': 'smb',
        'config': '/etc/samba/smb.conf',
        'config_src': 'salt://samba/templates/smb.conf.jinja',
    },
    'CentOS': {
        'server_pkg': 'samba',
        'client_pkg': 'samba',
        'service': 'smb',
        'config': '/etc/samba/smb.conf',
        'config_src': 'salt://samba/templates/smb.conf.jinja',
    },
    'FreeBSD': {
        'server_pkg': 'samba44',
        'client_pkg': 'samba44',
        'service': 'samba_server',
        'config': '/usr/local/etc/smb4.conf',
        'config_src': 'salt://samba/templates/smb.conf.jinja',
    },
}, merge=salt['grains.filter_by']({
    'Ubuntu': {
        'service': 'smbd',
    },
}, grain='os', merge=salt['pillar.get']('samba:lookup'))) %}

# Merge osmap onto default settings before merging pillars
{% do defaults.samba.update(os_map) %}

{% set samba = salt['pillar.get']( 'samba', default=defaults.samba, merge=True) %}

