samba:
  server: true
  client: false
  global:
    security: user
    workgroup: WORKGROUP
    server string: "%h Samba Server"
    syslog: 0
    panic action: "/usr/share/samba/panic-action %d"
    printcap name: /etc/printcap
    passdb backend: tdbsam
    obey pam restrictions: 'yes'
    unix password sync: 'yes'
    passwd program: "/usr/bin/passwd %u"
    passwd chat: "*Enter\\snew\\s*\\spassword:* %n\\n *Retype\\snew\\s*\\spassword:* %n\\n *password\\supdated\\ssuccessfully* ."
    pam password change: 'yes'
    map to guest: bad user
    socket options: TCP_NODELAY IPTOS_LOWDELAY SO_RCVBUF=131072 SO_SNDBUF=131072
    min receivefile size:  2048
    use sendfile: true
    aio read size: 2048
    aio write size: 2048
    write cache size: 1024000
    read raw: 'yes'
    write raw:  'yes'
    oplocks: 'yes'
    max xmit: 32768
    dead time: 15
    large readwrite: 'yes'
    load printers: 'no'
  shares:
    homes:
      comment: "Home Directories"
      browseable: 'yes'
      writable: 'yes'
      create mask: '0644'
      directory mask: '0755'
      valid users: '@users'
    printers:
      enabled: false
    MyBackup:
      comment: "Backup"
      path: /backup/mycloud/users/%U
      browseable: 'yes'
      writable: 'no'
      valid users: '@users'
    MyUSBDisk:
      comment: "USB Disk"
      path: /mnt/MyUSBDisk
      browseable: 'yes'
      writable: 'yes'
      create mask: '0664'
      directory mask: '0775'
      valid users: user
    MyDownloads:
      comment: "Downloads"
      path: /Downloads
      browseable: 'yes'
      writable: 'yes'
      create mask: '0664'
      directory mask: '0775'
      valid users: '@users'
    MyMusic:
      comment: "Music"
      path: /Music
      browseable: 'yes'
      writable: 'no'
      valid users: '@users'
    MyHDMusic:
      comment: "HD Music"
      path: /HDMusic
      browseable: 'yes'
      writable: 'no'
      valid users: '@users'
    MyDSDMusic:
      comment: "DSD Music"
      path: /DSDMusic
      browseable: 'yes'
      writable: 'no'
      valid users: '@users'
    MyCloud:
      comment: "My Cloud"
      path: /srv
      browseable: 'yes'
      writable: 'yes'
      force user: root
      force group: root
      create mask: '0640'
      directory mask: '0750'
      valid users: user
  users:
    user1:
      password: pass
    user2:
      password: pass
