{% set samba_sections = salt['pillar.get']('samba:sections', {}) %}
#
# This file is managed by salt.

{%- for section, options in samba_sections.items() %}
[{{ section }}]
    {%- for option, value in options.items() %}
    {{ option }} = {{ value }}
    {%- endfor %}
{%- endfor %}